@{
    ViewBag.Title = "Contact";
}
<h2 class="header-1">@ViewBag.Title</h2>

<address>
    <strong>In-Game:</strong> NAGA Recruitment
</address>

<address>
    <strong>Alliance Executor:</strong> stelios102<br />
    <strong>Military Director:</strong> tbert<br />
</address>