@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>In-Game:</strong> NAGA Recruitment
</address>

<address>
    <strong>Alliance Executor:</strong> stelios102<br />
    <strong>:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>