
@{
    ViewBag.Title = "Recruitment";
}

<h2 class="header-1">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6 article">
        <strong>NERFED ALLIANCE GO AWAY [NAGA.] offers the opportunity for corporations who pass our entrance criteria to join our ranks 
            to defend our space and crush our enemies!</strong>
        <ul>
            <li>Is your Corp filled with battle-hardened veterans looking for new challenges in this post-Rhea New Eden?</li>
            <li>An industry Corp who now wants to broaden your horizons to experience great PVP opportunities?</li>
            <li>A new Corp with a vision and the enthusiasm to grow looking for a supportive home and plenty of PvP encounters?</li>
        </ul>
        Well, you've found the right place.  NAGA is an built on solid foundations and a wealth of Eve experience. 
        We offer plenty of good fights, and great opportunities to make ISK in nullsec. 
        The corporations which make up NAGA are comprised of capital-building industry guys, small gang and solo PVP specialists, 
            black-ops specialists, capital pilots, and even a newbro training corp.  
        Your corporation will have the opportunity to join Alliance and Coalition fleets 24/7, 
            so if your serious about being a PvP Corporation you will need to seriously think about joining NAGA.
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/NAGA_Recruitment.jpg" alt="Got Nerfed?" style="width:100%;" />
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6 article">
        <strong>
            About Us
        </strong>
        <br />
        Alliance leadership has been flying together for a long time, and the member corporations within our alliance
        bring a huge variety of experience to the table.
        We live in Wicked Creek, and aim to be the alliance of choice for corporations new and old.
        We believe that corporations thrive when given access to alliance-level programmes and great PVP opportunities.
        How to apply for membership is explained at the bottom of this page but here are some of the benefits to
        being a member of Nerfed Alliance Go Away.....
    </div>
    <div class="col-md-6">
        <strong>
            Our goals are simple:
        </strong>
        <ul>
            <li>To deliver the <strong>Alliance infrastructure</strong> that you need to support your Corp with its vision and goals.</li>
            <li>Provide <strong>unlimited PVP opportunities</strong> for members at corporation, alliance and coalition levels.</li>
            <li>Enable your members to make great ISK in our <strong>nullsec systems</strong> to fund your PVP habits.</li>
            <li>Develop our family of corporations so that our alliance is considered a force to be reckoned with in New Eden.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6 article">
        <strong>
            Active Community and NAGA Culture
        </strong>
        <br />
        We are a very active community. Using Teamspeak 3 and our forums you can hang out with other guys in your dedicated 
            corp channel or mingle with players from a wide range of other corps in a very friendly and supportive alliance 
            whose membership spans from early EU to Pacific Coast timezones. 
        We want you to be able retain your corporation identity and develop your corporation to reach it's maximum potential 
            but also become part of the NAGA team which means being supportive of one another and helping each other meet 
            corporation and alliance level objectives.
    </div>
    <div class="col-md-6 article">
        <strong>
            PVP
        </strong>
        <br />
        PVP is what we do best. We actively encourage your new pilots to fly with us in frigates. Our PVP experiences vary wildly. 
        One day your team could be flying a frigate or destroyer with your new friends in our alliance or flying battlecruisers 
            for an alliance strategic operation, the next day you could be dropping bombers behind enemy lines or being deployed 
            with the entire coalition in massive fleet fights that make the news!
    </div>
</div>
<div class="row col-md-6">
    <img src="~/Content/Images/a5nGQjf.png" />
</div>
<div class="row">
    <div class="col-md-6 article">
        <strong>
            SRP
        </strong>
        <p>
            We provide all our new pilots with free Condors and replace them when they die! 
            We strongly feel that all new players should be able to get into combat quickly and so we will help with the cost.
        </p>
        <p>
            Veteran corps, we have got you covered! 
            We have a very generous tiered SRP program in place including cover for all coalition doctrines 
                and great deals on capital ships available to us.
        </p>
        <p>
            NAGA Alliance SRP covers Alliance doctrine fleets.
        </p>
    </div>
    <div class="col-md-6 article">
        <strong>
            FC Training Program
        </strong>
        <p>
            Aligned to our generous SRP program is our FC training program. We want you to feel comfortable that we have your back
            and that FCs have been given the tools and training they need to lead successful fleets.
            There are no barriers to entry for your Corporation's FCs and as FCs become more developed and increase in rank so does
            their access to SRP on larger ship types.
        <p>
    </div>
    <div class="col-md-6 article">
        <strong>
            Alliance Services
        </strong>
        <p>
            We do all the work so that you don't have to! We strongly believe that the best corporations have access to 
                alliance-level infrastructure so that you can focus on developing your corp.
        </p>
        <ul>
            <li>
                <strong>Logistics & Shopping</strong>
                Your corporation will have access to excellent initial and ongoing logistics services which enable you to 
                    settle very quickly into your new home and get any market goods from hisec very cheaply on a daily basis. 
                    We even have a shopping list service so that you can buy directly from trade hubs and have them delivered 
                    directly to you.
            </li>
            <li>
                <strong>PI, Ratting & Mining</strong>
                - We absolutely recognise that your players will need to make ISK so they can fully enjoy the PVP opportunities available. 
                We have POCOs set to incredibly low tax rates so that your members can PI to make passive isk whilst they are ratting 
                    in our militarily upgraded systems or mining on Rorqual-boosted fleets.
            </li>
        </ul>
    </div>
    <div class="col-md-6 article">
        <strong>
            FC Training Program
        </strong>
        <br />
        Aligned to our generous SRP program is our FC training program. We want you to feel comfortable that we have your back
        and that FCs have been given the tools and training they need to lead successful fleets.
        There are no barriers to entry for your Corporation's FCs and as FCs become more developed and increase in rank so does
        their access to SRP on larger ship types.
    </div>
</div>
<div class="row header-2">
    <p>
        <strong>
            If you would like to know more, join the NAGA Recruitment in-game channel 'NAGA Recruitment' and ask as many questions as you like.
        </strong>
    </p>
    <p>
        <strong>
            If you like what you see and want to fight with us, contact "Panic Mangeiri" in-game via EveMail for further discussions.
        </strong>
    </p>
</div>

